$borderRadius: 16px;
$colorTextWhite: #8C8C8C;
$colorTextMain: #fff;
$colorMain: #FF7A45;
$bgcolorMain:#FFF2E8;
$colorFooter: #BFBFBF;
$cardBorderColor: #D9D9D9;
$cardColorTitle: #262626;
$paginationDisabled: #E8E8E8;
$bgTooltip: #F5F5F5;

$shadowMain: 0px 2px 8px rgba(0, 0, 0, 0.15);

$borderButton: 24px 0;
$bgButton: #FAFAFA;
$bgButtonHover: #FFBB96;
$bgMain: #EE4E23;
